@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans:wght@300&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: url('../images/scenery.jpeg') no-repeat center / cover;
    background-attachment: fixed;
    font-family: 'Amatic SC';
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#main {
    height: 100vh;
}

/*Modal*/

.button-2 {
    background-color: rgb(126, 157, 122, 0.6);
    color: black;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 14px;
    padding: 20px 35px;
    cursor: pointer;
}

.button-1 {
    cursor: pointer;
}

.fas {
    color: rgb(126, 157, 122);
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #f5dce1;
    border-radius: 10px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
    margin-top: 8rem;


}

.modal h1 {
    margin: 0;

}

.modal p {
    font-size: 14px;
    opacity: 0.7;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 100%;
    display: block;


}

.time {
    border-radius: 10px;
    background-color: #ffe5d9;
    padding-top: 10px;
    padding-bottom: 10px;

}

label {
    display: block;
    padding-bottom: 15px;

}


h1 {
    font-family: 'Righteous';
}

/*Header*/

header {
    border: 2px solid rgb(233, 199, 10);
    border-radius: 40px;
    margin: 1rem;
}

#title h1 {
    border-radius: 40px;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 3rem;
    color: rgb(126, 157, 122);
    font-family: 'Righteous';
    text-align: center;
}

/*Menu*/

#menu {
    letter-spacing: 5px;
    padding: 0.55rem;
    border-radius: 60px;
    display: flex;
    justify-content: center;
}


#menu li {
    font-family: 'Amatic SC';
    font-size: 20px;
    list-style-type: none;
    margin: 10px 10px;
    display: inline;
    letter-spacing: 2px;
}

#menu a {
    color: rgb(126, 157, 122);
}


/*Tips*/

#tips-main {
    background-color: rgb(66, 93, 62, 0.9);
    color: #fff;
    /*: #ffebcd;*/
    text-align: center;
    border-radius: 35px;
    padding: 2rem;
    margin: 10rem auto;
    margin-top: 2rem;
    font-family: 'Open Sans';
    font-size: 1.35rem;
    overflow: scroll;
    width: 50rem;
    max-width: 80vw;
    max-height: 70vh;
}

#tips-main h2 {
    font-family: 'Righteous';
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

#tips-main p {
    padding: 1rem;
    text-align: justify;
    color: #fff;
    /*: #ffebcd;*/
}


/* Footer */

.footer {
    border-top: 2px solid rgb(233, 199, 10);
    border-bottom: 2px solid rgb(233, 199, 10);
    background-color: #fff;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding: 1rem;
}


.social-networks i {
    list-style: none;
    margin: 15px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 8px;
    color: rgb(126, 157, 122);
    border: 2px solid rgb(126, 157, 122);
    border-radius: 50%;
}

.social-networks i:hover {
    color: rgb(51, 102, 0, 0.8);
    border-color: rgb(51, 102, 0, 0.8);
}

/*Media queries*/